body {
  background-color: #f9f9f9;
    font-size: 11px;
    font-family: 'Maven Pro', sans-serif;
    line-height: 25px;
    color: #888;
}
main {
  min-height: 80vh;
}

/*header*/
.osahan-menu{
  padding:0;
}

.navbar{
  position: relative;
  display:flex;
  align-items:center;
}

.osahan-menu .navbar-brand{
  padding:15px 18px;
}

.navbar-light .navbar-brand{
  color:rgba(0,0,0,.9)
}
a{
  text-decoration: none;
  transition-duration: 0.4s;
}

.top-categories-search .form-control{
  border:medium none;
  font-size: 13px;
  height:38px;
}

.input-group .form-control{
  position: relative;
  flex:1 1 auto;
  width:1%;
  margin-bottom:0;
}
.form-control{
  display: block;
   
    padding: .375rem .75rem;
 
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
   
    transition: border-color .15s ease-in-out;
    box-shadow: .15s ease-in-out;
}

.top-categories-search .btn{
  border-radius: 0 2px 2px 0 !important;
  font-weight: 500;
  height: 38px;
  padding: 0 21px;
  text-transform: uppercase;
}

.btn-secondary{
  background: #e96125 none repeat scroll 0 0 !important;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
.main-nav-right li {
  margin: 0 !important;
}
.list-inline-item {
  display: inline-block;
}
.main-nav-right .btn{
  padding:21px 15px;
  border-radius: 0 !important;
    border-right: 1px solid #384042;
    color: #fff;
    margin: 0 0 0 -4px;

}
/*end header here */

/*footer*/
.border-top{
  border-top:1px solid  #eeeeee !important;
}

.section-padding{
  padding:40px 0;
}
.bg-white{
  background-color: #fff !important;
}

.feature-box .fas {
  border: 1px solid #acacac;
  border-radius: 50px;
  color: #acacac;
 
  float: left;
  font-size: 21px;
  height: 60px;
  line-height: 56px;
  margin: 0 15px 0 0;
  text-align: center;
  width: 60px;
}
h6{
  color:#333;
  font-size:1rem;
  font-weight: 500;
  line-height:1.2
}
footer ul{
  margin:0;
  padding:0;
  list-style: none;
}

footer ul li a {
  text-decoration:none;
  color:#888;
  transition-duration:0.4s;
}
.footer-social a {
  background: #ccc none repeat scroll 0 0;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  height: 27px;
  line-height: 26px;
  text-align: center;
  width: 27px;
  transform: scale(1);
  transition-duration: 0.4s;
}

/*end footer*/

/*product*/
.product{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    margin: 0 -1px 0 0;
    padding: 20px;
    position: relative;
    width:222px
}

.product a{
  text-decoration: none !important;
  color: #888;
  transition-duration: 0.4s;
}

.product-header{
  text-align:center;
}

.product-header .badge{
  background: #f2fef2 none repeat scroll 0 0;
    border: 1px solid #51aa1b;
    border-radius: 2px;
    color: #51aa1b;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    padding: 4px 10px;
    position: absolute;
    top: 20px;
    z-index: 9;
}

.product-header .img{
  height: 200px;
  margin: 0 0 18px;
  object-fit: scale-down;
  transform: scale(1);
  transition-duration: 0.4s;
}
.product-header .img-fluid{
  max-width:100%
}
.product-header .fa-circle{
  border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    height: 22px;
    line-height: 19px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 22px;
}
.product-body h6{
  color:#9c9c9c;
  font-size:12px;
}
.product-footer .btn{
  border-radius: 49px !important;
    font-size: 12px;
    padding: 6px 12px;
}

.offer-price{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}
.offer-price .fa-tag{
  color:#888;
  font-size:10px;
}
.regular-price{
  color: #666 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  text-decoration: line-through;
}



/*product end here */

/*rating*/

.rating span:last-child {
  color: #404040;
}
/*end rating here */


/*product slider*/

.section-padding{
  padding:40px 0;
}

.heading-design-h5{
  font-size:18px;
  margin-bottom: 14px;
  color:#333;
}

.section-header .badge{
  border-radius:2px;
  font-weight:400;
}
.section-header .badge-primary{
  color:#fff;
  background-color: #007bff;
}
.heading-design-h5 a{
  font-size:18px;
  line-height:22px;
}
.section-header .text-secondary{
  color: #e96125 !important;

}

/* end product slider */

@media(min-width:992px){
  .navbar-expand-lg{
    flex-flow:row nowrap;
    justify-content: flex-start;

  }
}

@media(min-width:768px){
  .main-nav-right .btn{
    font-size:0;
    padding:21px 15px;
  }
}

.product-detail-right .feature-box .fas{
  background:#28a745 none repeat scroll  0 0 ;
  border:medium none;
  color:#fff;

}
.product-detail-right .badge{
  background: #f2fef2 none repeat scroll 0 0;
  border: 1px solid #51aa1b;
  border-radius: 2px;
  color: #51aa1b;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 13px;
}

.product-detail-right h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0 5px;
}
.product-detail-right > h6 {
  color: #666;
  font-size: 14px;
  margin: 0 0 19px;
}
.product-detail-right .btn {
  font-weight: 500;
  margin: 29px 0;
  padding: 8px 10px;
  text-transform: uppercase;
}
.short-description {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  padding: 22px;
}
.product-detail-left .favourite-icon a{
  background: green none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    height: 35px;
    line-height: 34px;
    position: absolute;
    right: 35px;
    text-align: center;
    top: 20px;
 
    width: 35px;
    z-index: 9;

}

/*cart screen header*/
.cart-sidebar{
  background: #fff none repeat scroll 0 0;
  overflow: auto;
  position: fixed;

  top: 0;
  width: 400px;
  z-index: 99;
  
  

  height: 100vh;
}
.cart-sidebar-header{
  background: #1c2224 none repeat scroll 0 0;
  color: #fff;
  padding: 18px 20px;
}
.cart-sidebar-header .float-right {
  background: #fff none repeat scroll 0 0;
  border-radius: 24px;
  color: #000;
  height: 26px;
  line-height: 25px;
  text-align: center;
  width: 26px;
}

.cart-sidebar-body {
  height: 66vh;
  overflow: inherit;
}
.cart-list-product {
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  padding: 14px 20px;
  position: relative;
}
 .remove-cart {
  position: absolute;
  right: 18px;
  top: 12px;
  color:#000
}


.cart-list-product img {
   
    border-color: #ececec #ececec #dcdcdc;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 0 3px #ececec;
    float: left;
    height: 99px;
    margin: 0 15px 0 0;
    object-fit: scale-down;
    width: 82px;
}

.cart-list-product  .badge {
  background: #f2fef2 none repeat scroll 0 0;
  border: 1px solid #51aa1b;
  border-radius: 2px;
  color: #51aa1b;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 6px;
}

.cart-list-product h5 a {
  font-size: 14px;
}
.cart-list-product h5 {
  margin: 0;
}
.cart-list-product h6 {
  font-size: 11px;
}
.cart-list-product > h6 span {
  color: #e96125;
}


.cart-sidebar-footer {
  background: #ececec none repeat scroll 0 0;
  padding: 14px 20px;
}
.cart-store-details p {
  margin: 0 0 3px;
}
.cart-store-details h6 {
  margin: 10px 0 19px;
}
.cart-sidebar-footer .btn {
  padding: 10px 17px;
}

.btn{
  border: medium none;
border-radius: 2px !important;
font-size: 13px;
}

.card{
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
.card-header {
  background-color: #fbfbfb;
  border-bottom: 1px solid #eeeeee;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/*login modal*/
.login-modal-left {
  background: rgba(0, 0, 0, 0) url("./assets/login.jpg") repeat scroll center center;

  height: 300px;
  list-style: outside none none;
  margin: 70px auto auto;
  width: 322px;
}
.form-control {
  border-radius: 2px;
  font-size: 14px;
}
label {
  font-size: 13px;
  margin: 0 0 3px;
}
.modal-content {
  border: medium none;
  border-radius: 2px;
}
.login-modal-right {
  padding: 27px;
}
.login-icons {
  border: medium none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.login-footer-tab .nav-link {
  background: #ececec none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 2px !important;
  margin: 10px 3px 0 2px;
  padding: 7px 20px;
}
.login-footer-tab .nav {
  border: medium none;
  display: inline-flex;
}
.btn-facebook {
  background: #395b9a none repeat scroll 0 0;
  color: #fff;
}
.btn-google {
  background: #c71e25 none repeat scroll 0 0;
  color: #fff;
}
.btn-twitter {
  background: #3a9ed8 none repeat scroll 0 0;
  color: #fff;
}
.login-with-sites p {
  margin: 0 0 7px;
}
.login-with-sites {
  margin-bottom: 10px;
}
.modal-backdrop.show {
  opacity: 0.7;
}
/*login model end here */

/*dropdown*/

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*end dropdown*/

/*checkout steps*/
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}