main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
*{
  font-family: 'Poppins', sans-serif;

 
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

:root {
  --main-color: #222;
  --background-color: #51aa1b;
  --border-color: #e2e2e2;
  --secondary-color: #f9c938;
  --secondary-background-color: #459117;
  --border-soild: rgba(0, 0, 0, 0.212);
}

/*product -component */
.product-container{
  border-radius:5px;
   display: flex;
  justify-content: center;
  align-items: center;
   width: 180px;
   height: auto;
   margin-right: 16px;
   background: #fff;
   border: 1px solid rgba(111,114,132,.25);
   padding: 8px;
 }
 .product-container .pro_items{
   display: block;
   position: relative;
   width: 100%;
 }
 .product-container .pro_items .dis_section{
   width: 38px;
   height: 38px;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   font-size: 11px;
   font-family: JioLight;
   color: #fff;
   display: block;
   padding: 5px 0;
 }
 .price-box{
   display: grid;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 8px;
   font-size: 14px;
   color: #000;
   font-family: JioLight;
   height: 56px;
 }
 .price_box .price{
   display: block;
 }
 .price_box .final_price{
   color: #000;
   padding: 0;
  font-weight:600;
   font-size: 18px;
   display: block;
   margin: 2px 0;
 }
 .price_box .save_price{
   color: #00a100;
     font-family: JioMedium;
     padding: 0;
     margin: 0;
     display: block;
     font-size: 12px;
 }
 
 .cart_btn{
   color: #00a100;
     font-family: JioMedium;
     padding: 0;
     margin: 0;
     display: block;
     font-size: 12px;
 }
 
 .cart_btn .tocart{
   background: #008ecc;
     width: 100%;
     font-size: 14px;
     border-radius: 4px;
     padding: 0 8px 0 16px;
     border: 0;
     color: #fff;
     font-family: JioMedium;
     cursor: pointer;
 
     display: flex;
  
     align-items: center;
 
     justify-content: space-between;
     line-height: 32px;
 }
 /* end of product component */
 aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}


 /*header */
 .menu-desktop .top-title {
  height: 45px;
  background-color: var(--secondary-background-color);
  color: white;
  font-weight: 300;
}

 .menu-desktop .top-title .left,  .menu-desktop .top-title .right {
  line-height: 45px;
}

 .menu-desktop .top-title .right {
  text-align: right;
}

 .menu-desktop .top-title .right .wishlist:hover {
  color: var(--secondary-color);
}

.menu-desktop .top-title .right .wishlist {
  z-index: 10;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: inline;
}

 .menu-desktop .top-title .right .wishlist a {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .top-title .right .wishlist a:hover {
  color: var(--secondary-color);
}

 .menu-desktop .top-title .right .wishlist > ul {
  background-color: white;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 160px;
  text-align: left;
  overflow: hidden;
  left: -50px;
}

 .menu-desktop .top-title .right .wishlist > ul a {
  color: black;
  display: contents;
}

 .menu-desktop .top-title .right .wishlist > ul a:hover {
  color: black;
}

 .menu-desktop .top-title .right .wishlist > ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .top-title .right .wishlist > ul li img {
  padding: 10px;
}

 .menu-desktop .top-title .right .wishlist > ul li:hover {
  background-color: var(--border-color);
}

 .menu-desktop .top-title .right .wishlist .show0921 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

 .menu-desktop .between-menu {
  height: 125px;
  background-color: var(--background-color);
}

 .menu-desktop .between-menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .menu-desktop .between-menu .left img {
  width: 200px;
  height: auto;
  margin-top: 17px;
}

 .menu-desktop .between-menu .right {
 
  display: flex;

}
.menu-desktop .between-menu .right .user-name{
  display: flex;
  color:white
}
 .menu-desktop .between-menu .between {

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .menu-desktop .between-menu .between form {
  width: 100%;
  position: relative;
}

 .menu-desktop .between-menu .between form input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  padding-right: 50px;
}

 .menu-desktop .between-menu .between form button {
  position: absolute;
  background: none;
  border: none;
  font-size: 25px;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

 .menu-desktop .between-menu .left,  .menu-desktop .between-menu .right,  .menu-desktop .between-menu .between {
  height: 125px;
}

 .menu-desktop .bottom-option {
  background-color: var(--secondary-background-color);
}

 .menu-desktop .bottom-option .wrap-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 60px;
  grid-gap: 10px;
}

 .menu-desktop .bottom-option .wrap-categories .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  position: relative;
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 350px;
  background-color: white;
  border: 1px solid var(--border-soild);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories {
  width: 100%;
  height: auto;
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories > a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories li {
  width: 85%;
  height: 100%;
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories li > i {
  float: right;
  line-height: 50px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories > a:hover {
  color: var(--background-color);
}

 .menu-desktop .bottom-option .wrap-categories .categories .hidden {
  overflow: hidden;
  height: 0 !important;
}

 .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
  border: 1px solid var(--border-color);
  position: absolute;
  left: 100%;
  top: 100%;
  width: 270px;
  height: 207px;
  z-index: 5;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list a {
  color: black;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

 .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list a:hover {
  color: var(--background-color);
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 805px;
  height: 250px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  z-index: 6;
  background-color: white;
  padding: 20px 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner .title {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  display: block;
  width: 100%;
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner img {
  width: 100%;
  height: 210px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner a {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner a:hover {
  color: var(--background-color);
}

 .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner p:nth-child(2) {
  padding-top: 15px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 805px;
  height: 365px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 7;
  background-color: white;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top {
  width: 805px;
  height: 250px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 20px 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner .title {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  display: block;
  width: 100%;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner img {
  width: 100%;
  height: 210px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner a {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner a:hover {
  color: var(--background-color);
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner p:nth-child(2) {
  padding-top: 15px;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom {
  width: 100%;
  height: 115px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom a img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom a img:hover {
  opacity: 0.7;
}

 .menu-desktop .bottom-option .wrap-categories .categories .on-hover {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

 .menu-desktop .bottom-option .wrap-categories a {
  display: contents;
  color: white;
}

 .menu-desktop .bottom-option .wrap-categories .go {
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .bottom-option .wrap-categories .go img {
  margin-right: 10px;
}

 .menu-desktop .bottom-option .wrap-categories .go:hover {
  background-color: var(--secondary-color);
}

 .menu-desktop .bottom-option .wrap-categories > div:nth-child(1) {
  background-color: var(--secondary-color);
  cursor: pointer;
}

 .menu-desktop .bottom-option .wrap-categories .cart {
  position: relative;
}

 .menu-desktop .bottom-option .wrap-categories .cart .cart-gap {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 85px;
  height: 80px;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

 .menu-desktop .bottom-option .wrap-categories .cart .cart-gap i {
  font-size: 40px;
}

 .menu-desktop .bottom-option .wrap-categories .cart .cart-gap p {
  font-size: 12px;
}

 .menu-desktop .bottom-option .wrap-categories .cart .list-cart {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 3;
  width: 290px;
  height: 170px;
  background-color: white;
  border: 1px solid var(--border-color);
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

 .menu-desktop .bottom-option .wrap-categories .cart .list-cart > i {
  font-size: 80px;
  padding-top: 20px;
}

 .menu-desktop .bottom-option .wrap-categories .cart .list-cart > i,  .menu-desktop .bottom-option .wrap-categories .cart .list-cart > p {
  opacity: 0.6;
}

 .menu-desktop .bottom-option .wrap-categories .cart .hidden {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

 .menu-desktop .top-title-mobile {
  height: 80px;
  background-color: var(--background-color);
}

 .menu-desktop .top-title-mobile .wrap {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar i {
  font-size: 30px;
  cursor: pointer;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 280px;
  max-width: 350px;
  height: 100%;
  background-color: white;
  z-index: 1000 !important;
  overflow-y: scroll;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top {
  width: 100%;
  height: 120px;
  background-position: center;
  position: relative;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top a {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top .register {
  left: 80px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top > i {
  color: white;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top i:nth-child(1) {
  font-size: 55px;
  margin-left: 20px;
  margin-top: 15px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top i:nth-child(2) {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 5px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu {
  height: 240px;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu {
  height: 240px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu .title {
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  font-weight: 700;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu .title > i {
  font-size: 20px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu > a,  .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu li {
  line-height: 40px;
  display: block;
  color: black;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu > a > i,  .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu li > i {
  padding-right: 15px;
  padding-left: 20px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu a {
  padding-left: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid var(--border-color);
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu a:hover {
  background-color: var(--border-color);
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .zoom-out {
  height: 41px !important;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .father-menu {
  height: 620px !important;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .father-menu .menu {
  height: 620px !important;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .zoom-out {
  height: 43px !important;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting {
  width: 100%;
  height: auto;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting {
  width: 100%;
  height: 145px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .title {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid var(--border-color);
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .title i {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 15px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .select {
  width: 100%;
  height: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .zoom-out {
  height: 41px !important;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .background-black {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.466);
  cursor: pointer;
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .go-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

 .menu-desktop .top-title-mobile .wrap .menu-bar .hidden-back-ground-black {
  opacity: 0;
  visibility: hidden;
}

 .menu-desktop .top-title-mobile .wrap .main-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

 .menu-desktop .top-title-mobile .wrap .main-icon img {
  width: 145px;
  height: 60px;
}

 .menu-desktop .top-title-mobile .wrap .cart-mobile i {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

 .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 3;
  width: 290px;
  height: 170px;
  background-color: white;
  border: 1px solid var(--border-color);
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

 .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > i {
  font-size: 80px;
  padding-top: 20px;
}

 .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > i,  .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > p {
  opacity: 0.6;
}

 .menu-desktop .top-title-mobile .wrap .cart-mobile .hidden {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
 /* end of header */


 /*footer */
 footer {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

 .top-footer {
  width: 100%;
  height: 120px;
  background-color: var(--secondary-color);

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .top-footer .wrap-top-footer {
  width: 100%;
  height: auto;
}

 .top-footer .wrap-top-footer .wrap-content .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

 .top-footer .wrap-top-footer .wrap-content .title .icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

 .top-footer .wrap-top-footer .wrap-content .title .icon i {
  line-height: 60px;
  font-size: 30px;
}

 .top-footer .wrap-top-footer .wrap-content .title .wrap-text p.title {
  font-size: 25px;
  font-weight: 600;
}

 .top-footer .wrap-top-footer .wrap-content .title .wrap-text p {
  padding: 0;
  margin: 0;
}

 .top-footer .wrap-top-footer .wrap-content .form-subscribe {
  height: 100%;
  position: relative;
}

 .top-footer .wrap-top-footer .wrap-content .form-subscribe .input-wrap {
  height: 100%;
}

 .top-footer .wrap-top-footer .wrap-content .form-subscribe .input-wrap input {
  overflow: visible;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  outline: none;
}

 .top-footer .wrap-top-footer .wrap-content .form-subscribe .btn-subscribe {
  position: absolute;
  top: 0;
  right: 15px;
  width: 25%;
  height: 100%;
  background-color: var(--background-color);
  color: white;
  text-align: center;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .main-footer {
  margin-top: 60px;
}

 .main-footer .slide-footer {
  border-bottom: 1px solid var(--border-color);

}


 .main-footer .content {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

 .main-footer .content .wrap-content {
  width: 100%;
  height: auto;
}

 .main-footer .content .wrap-content .icon {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

 .main-footer .content .wrap-content .icon img {
  height: 45px;
  width: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

 .main-footer .content .wrap-content .title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

 .main-footer .content .wrap-content ul li {
  color: black;
  list-style: none;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

 .main-footer .content .wrap-content ul li i {
  margin-right: 15px;
}

 .main-footer .content .border-left {
  border-left: 1px solid var(--border-color);
}

 .main-footer .content .wrap-content:hover .icon img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

 .main-footer .bottom-main {
  margin-top: 40px;
}

 .main-footer .bottom-main .footer-logo .logo a {
  display: block;
  height: auto;
  width: auto;
}

 .main-footer .bottom-main .footer-logo .store-des {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

 .main-footer .bottom-main .footer-logo .list-icon .wrap-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

 .main-footer .bottom-main .footer-logo .list-icon .wrap-icon a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 35px;
}

 .main-footer .bottom-main .footer-logo .list-icon .wrap-icon i {
  color: white;
}

 .main-footer .bottom-main .footer-logo .list-icon li:nth-child(1):hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

 .main-footer .bottom-main .footer-logo .list-icon li:nth-child(2):hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
}

 .main-footer .bottom-main .footer-logo .list-icon li:nth-child(3):hover {
  border-color: #c4302b;
  background-color: #c4302b;
}

 .main-footer .bottom-main .footer-logo .list-icon li:nth-child(4):hover {
  border-color: #DD4B39;
  background-color: #DD4B39;
}

 .main-footer .bottom-main .footer-logo .list-icon li:nth-child(5):hover {
  border-color: #3b5998;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

 .main-footer .bottom-main .list-infor {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 203px;
}

 .main-footer .bottom-main .list-infor .wrap-content {
  height: auto;
  width: auto;
  overflow: hidden;
}

 .main-footer .bottom-main .list-infor .wrap-content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

 .main-footer .bottom-main .list-infor .wrap-content ul {
  width: 100%;
  height: auto;
}

 .main-footer .bottom-main .list-infor .wrap-content ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 8px;
}

 .main-footer .bottom-main .list-infor .wrap-content ul li a {
  color: black;
  display: block;
  font-size: 14px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  font-weight: 300;
}

 .main-footer .bottom-main .list-infor .wrap-content ul li a i {
  padding-right: 5px;
  font-size: 13px;
}

 .main-footer .bottom-main .list-infor .wrap-content ul li:hover a {
  color: var(--background-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

 .main-footer .bottom-main .contact-us .wrap-content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

 .main-footer .bottom-main .contact-us .wrap-content ul {
  width: 100%;
  height: auto;
}

 .main-footer .bottom-main .contact-us .wrap-content ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 10px;
}

 .main-footer .bottom-main .contact-us .wrap-content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.705);
  font-size: 15px;
  font-weight: 300;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

 .main-footer .bottom-main .contact-us .wrap-content ul li a i {
  padding-right: 15px;
  font-size: 17px;
  color: var(--background-color);
  padding-top: 3px;
}

 .main-footer .bottom-main .contact-us .wrap-content ul li:hover a {
  color: black;
}

 .bottom-footer {
  border-top: 1px solid var(--border-color);
  padding: 15px 0;
}

 .bottom-footer .left a {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

 .bottom-footer .right {
  position: relative;
}

 .bottom-footer .right .wrap-content {
  position: absolute;
  top: 0;
  right: 30px;
}

 .bottom-footer .right .wrap-content span {
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}
 /* end of footer */

 /* responsiveness */

 @media (max-width: 991px) {
  header .between-menu {
    height: 70px !important;
    position: relative;
  }
  header .between-menu .container {
    width: 100% !important;
  }
  header .between-menu .container .between {
    width: 100% !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 10px;
  }
   .trending-products .product-types {
    right: 30px !important;
  }
   .trending-products .product-types > ul > li {
    font-size: 14px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .status-product {
    left: 15px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .discount {
    right: 15px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .list-action {
    visibility: visible !important;
    bottom: 85px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .list-action > div {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
   .trending-products .slide-trending-products .owl-carousel .owl-nav {
    -webkit-transform: translateY(-40px) !important;
            transform: translateY(-40px) !important;
  }
   .list-banner {
    margin-top: 45px !important;
    grid-column-gap: 20px !important;
  }
   .list-banner .banner-right {
    grid-row-gap: 20px !important;
  }
   .list-banner .banner-right .banner-right-top,  .list-banner .banner-right .banner-right-bottom {
    grid-column-gap: 20px !important;
  }
   .discount-banner {
    margin-top: 40px !important;
  }
   .from-the-journal {
    margin-top: 40px !important;
  }
   .big-banner-bottom {
    margin-top: 40px !important;
  }
   .slide-bottom {
    margin-top: 40px !important;
  }

  
  footer {
    margin-top: 35px !important;
  }
  footer .top-footer {
    height: auto !important;
    padding: 20px 0 !important;
  }
  footer .top-footer .wrap-content div.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px !important;
    padding-left: 15px !important;
  }
  footer .main-footer {
    margin-top: 30px !important;
  }
  footer .main-footer .bottom-main .footer-logo {
    text-align: center;
  }
  footer .main-footer .bottom-main .view-list {
    height: 45px !important;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  footer .main-footer .bottom-main .title {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
  }
  footer .main-footer .bottom-main .title i {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  footer .main-footer .bottom-main .title .i-rotate {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  footer .main-footer .bottom-main .contact-us {
    margin-bottom: 20px;
  }
  footer .bottom-footer .left {
    text-align: center !important;
    margin-bottom: 10px !important;
  }
  footer .bottom-footer .left a {
    margin-left: -50px;
  }
  footer .bottom-footer .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom-footer .right .wrap-content {
    position: relative !important;
    width: auto !important;
  }
  footer .bottom-footer .right .wrap-content span {
    margin-right: 10px !important;
  }
  footer .bottom-footer .right .wrap-content a {
    margin-right: 5px;
  }
  
}


@media (max-width: 767px) {
  .popup-letter .wrap-popup {
    background-color: white;
    background-image: none !important;
  }
  .popup-letter .wrap-popup .left {
    display: none !important;
  }
  .popup-letter .wrap-popup .right {
    width: 100% !important;
  }
  .popup-letter .wrap-popup .right .input-email {
    margin-left: 50% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
   .Imgslide .img-banner {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
   .Imgslide .img-banner > div {
    width: 100% !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
   .Imgslide .img-banner > div img {
    width: 100% !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
   .Imgslide .img-banner > div:nth-child(2) {
    margin-top: 20px;
  }
   .trending-products .title-products {
    margin-bottom: 0 !important;
  }
   .trending-products .product-types {
    position: relative !important;
    width: 100%;
    height: 50px;
    right: 0 !important;
    overflow-x: scroll;
  }
   .trending-products .product-types > ul {
    height: 100% !important;
    width: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
   .trending-products .product-types > ul > li {
    width: auto !important;
    font-size: 16px !important;
    line-height: 35px !important;
  }
   .trending-products .product-types::-webkit-scrollbar {
    display: none;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content #product-review {
    bottom: 50px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .product-name {
    font-size: 15px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .detail .price {
    font-size: 17px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .detail .old-price {
    font-size: 14px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .status-product {
    left: 10px !important;
    top: 3px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .discount {
    right: 10px !important;
    top: 0px !important;
  }
   .slide-bottom {
    margin-top: 25px !important;
  }

}
 
  footer .top-footer .wrap-content div.title .wrap-text .icon {
    margin-right: 10px !important;
  }
  footer .top-footer .wrap-content div.title .wrap-text p.title {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  footer .top-footer .wrap-content div.title .wrap-text p {
    font-size: 15px !important;
  }
  footer .bottom-footer .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  footer .bottom-footer .left {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  footer .bottom-footer .left a {
    margin-left: 0px !important;
  }
  footer .bottom-footer .right {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  footer .bottom-footer .right .wrap-content {
    right: 0px !important;
  }
  footer .bottom-footer .right .wrap-content span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  footer .bottom-footer .right .wrap-content a {
    margin-right: 0px !important;
  }


@media (max-width: 480px) {
   .trending-products .product-types > ul > li {
    font-size: 11px !important;
    margin: 0 5px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content #product-review {
    bottom: 45px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .product-name {
    font-size: 14px !important;
    line-height: 0 !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .detail .price {
    font-size: 15px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .infor-product .detail .old-price {
    font-size: 13px !important;
  }
   .trending-products .slide-trending-products .owl-carousel .item .content .list-action {
    bottom: 65px !important;
  }
   .list-banner {
    grid-column-gap: 20px !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
  }
   .list-banner .banner-right {
    grid-row-gap: 20px !important;
  }
   .list-banner .banner-right .banner-right-top {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
  }
   .list-banner .banner-right .banner-right-bottom {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
  }
  footer .top-footer .wrap-content div.title .wrap-text p.title {
    font-size: 18px !important;
    margin-bottom: 5px !important;
  }
  footer .top-footer .wrap-content div.title .wrap-text p {
    font-size: 13px !important;
  }
  footer .top-footer .wrap-content .form-subscribe .btn-subscribe span {
    font-size: 12px !important;
  }
}


 .order-id{
   overflow:hidden;
   font-size:12px
 }